.content {
    width: 680px;
    margin: 118px auto;
}

.login-title {
    width: 100%;
}

.login-title__inner {
    width: 144px;
    height: 46px;
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
}

.login-form__content {
    width: 100%;
    margin-top: 53px;
}

.login-form__label {
    margin: 0px;
    height: 34px;
    font-size: 24px;
    font-weight: bold;
}

.login-form__input {
    width: 100%;
    height: 57px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
}

.login-form__error-message {
    width: 100%;
    height: 40px;
    margin: 0px;
    padding: 5px;
    color: red;
    font-size: 20px;
}

.login-form__btn {
    margin-top: 40px;
    width: 100%;
    height: 65px;
    border: none;
    background: #FF5555;
    border-radius: 5px;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
}

.register-link {
    width: 257px;
    height: 53px;
    margin: 18px auto;
    text-align: center;
    line-height: 53px;
}

.register-link a {
    text-decoration: none;
    font-size: 20px;
    color: #0073CC;
}