.header-search__inner {
    width: 500px;
    height: 50px;
    margin: 15px auto;
    font-size: 24px;
    padding: 0 30px;
    border-radius: 5px;
}

.header-nav__inner {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 20px 12px 13px 37px;
    text-align: center;
}

.header-nav__item {
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav__form {
    width: 100%;
}

.header-nav__button {
    width: 100%;
    border: none;
    background: none;
    color: #ffffff;
    font-size: 24px;
}

.header-nav__link {
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    font-size: 24px;
}

.header-nav__item--sell {
    width: 100px;
    height: 50px;
    line-height: 50px;
}

.header-nav__link--sell {
    text-decoration: none;
    color: #000000;
    width: 100%;
    height: 100%;
    font-size: 24px;
    border-radius: 4px;
    background: #ffffff;
    display: inline-block;
}

.profile-block {
    width: 1017px;
    height: 150px;
    margin: 77px auto;
    display: flex;
    align-items: center;
}

.profile-img {
    width: 150px;
    height: 150px;
    margin-right: 57px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-name {
    width: 250px;
    font-size: 36px;
    font-weight: bold;
    margin-right: 250px;
}

.profile-button {
    width: 310px;
    height: 59px;
    line-height: 59px;
    text-align: center;
    border: 2px solid #FF5555;
    border-radius: 10px;
    background: #ffffff;
    color: #FF5555;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
}


.tab-list {
    width: 100%;
    height: 47px;
    margin-top: 47px;
    border-bottom: 2px solid #5F5F5F;
}

.tab-list__inner {
    width: 100%;
    display: flex;
    list-style: none;
    padding-left: 129px;
}

.tab-list__item {
    width: 155px;
    height: 40px;
    text-align: right;
    margin-right: 52px;
}

.tab-list__link {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #5F5F5F;
}

.tab-list__link.active {
    color: #FF0000;
}

.item-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 72px;
    width: 1374px;
    margin: 76px auto 0;
}

.item-list__inner {
    width: 290px;
    height: 320px;
}

.item-list__image {
    position: relative;
}

.item-list__image img {
    width: 100%;
    height: 290px;
}

.sold-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}

.item-list__inner p {
    width: 100%;
    height: 30px;
    margin: 0;
    font-size: 25px;
}