.profile-block {
    width: 1017px;
    height: 150px;
    margin: 77px auto;
    display: flex;
    align-items: center;
}

.profile-img {
    width: 150px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-right: 57px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-name {
    width: 250px;
    font-size: 36px;
    font-weight: bold;
    margin-right: 250px;
}

.profile-button {
    width: 310px;
    height: 59px;
    line-height: 59px;
    text-align: center;
    border: 2px solid #FF5555;
    border-radius: 10px;
    background: #ffffff;
    color: #FF5555;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
}


.tab-list {
    width: 100%;
    height: 47px;
    margin-top: 47px;
    border-bottom: 2px solid #5F5F5F;
}

.tab-list__inner {
    width: 100%;
    display: flex;
    list-style: none;
    padding-left: 129px;
}

.tab-list__item {
    width: 155px;
    height: 40px;
    text-align: right;
    margin-right: 52px;
}

.tab-list__link {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #5F5F5F;
}

.tab-list__link.active {
    color: #FF0000;
}

.item-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 290px);
    gap: 72px;
    width: 1374px;
    margin: 76px auto 0;
}

.item-list__inner {
    width: 100%;
    height: 320px;
}

.item-list__image {
    position: relative;
}

.item-list__image img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 4px;
}

.sold-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}

.item-list__inner p {
    width: 100%;
    height: 30px;
    margin: 0;
    font-size: 25px;
}

@media screen and (max-width: 1300px) {
    .profile-block {
        width: 90%;
        justify-content: space-between;
    }

    .profile-img {
        margin-right: 5px;
    }

    .profile-name {
        width: 40%;
        margin-right: 5px;
    }

    .item-list {
        width: 95%;
    }
}