.header-search__inner {
    width: 500px;
    height: 50px;
    margin: 15px auto;
    font-size: 24px;
    padding: 0 30px;
    border-radius: 5px;
}

.header-nav__inner {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 20px 12px 13px 37px;
    text-align: center;
}

.header-nav__item {
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav__form {
    width: 100%;
}

.header-nav__button {
    width: 100%;
    border: none;
    background: none;
    color: #ffffff;
    font-size: 24px;
}

.header-nav__link {
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    font-size: 24px;
}

.header-nav__item--sell {
    width: 100px;
    height: 50px;
    line-height: 50px;
}

.header-nav__link--sell {
    text-decoration: none;
    color: #000000;
    width: 100%;
    height: 100%;
    font-size: 24px;
    border-radius: 4px;
    background: #ffffff;
    display: inline-block;
}

.profile-content {
    width: 680px;
    margin: 59px auto;
}

.profile-title {
    height: 47px;
    margin: 0;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.profile-img__block {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 47px 0 76px;
}

.profile-img {
    width: 150px;
    height: 150px;
    margin-right: 40px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-img__upload {
    display: inline-block;
    background: #ffffff;
    color: #FF5555;
    border: 2px solid #FF5555;
    width: 179px;
    height: 49px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 49px;
    cursor: pointer;
}

.profile-img__upload input {
    display: none;
}

.profile-input__block {
    width: 100%;
}


.profile-input__title {
    height: 36px;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.profile-input {
    width: 100%;
    height: 55px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    font-size: 24px;
    font-weight: bold;
    color: #5F5F5F;
    padding: 0 16px;
}

.profile-form__error-message {
    height: 62px;
    margin: 0;
    color: #ff0000;
    font-size: 20px;
}

.profile-button {
    width: 100%;
    height: 60px;
}

.profile-button button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    background: #FF5555;
    cursor: pointer;
}
