.sell-content {
    width: 680px;
    margin: 51px auto;
}

.sell-title {
    height: 44px;
    margin: 0;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.item-img__block {
    width: 680px;
    height: 186px;
    margin: 43px auto 0;
}

.item-img__title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.item-img {
    width: 680px;
    height: 150px;
    border: 1px dashed #5F5F5F;
    border-radius: 4px;
    position: relative;
}

.item-img__upload {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    color: #FF5555;
    border: 2px solid #FF5555;
    width: 165px;
    height: 44px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 44px;
    cursor: pointer;
}

.item-img__upload input {
    display: none;
}

.sell-content__inner {
    margin: 69px auto 0;
    width: 100%;
}

.sell-content__title {
    margin: 0;
    margin-bottom: 36px;
    width: 100%;
    height: 48px;
    padding-bottom: 12px;
    font-size: 30px;
    font-weight: bold;
    color: #5F5F5F;
    border-bottom: 1px solid #5F5F5F;
}

.sell-content__sub-title {
    margin: 0;
    /* margin-top: 36px; */
    font-size: 24px;
    font-weight: bold;
}

.sell-content__category {
    margin-top: 31px;
    margin-bottom: 29px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 18px;
    row-gap: 36px;
}

.sell-content__category::after {
    content: "";
    flex: auto;
}

.category-label {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    height: 32px;
    padding: 0 15px;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    border: 2px solid #FF5655;
    border-radius: 200px;
    color: #FF5655;
    cursor: pointer;
}

.category-label:has(input:checked) {
    color: #FFFFFF;
    background: #FF5655;
}

.category-label input {
    display: none;
}

.sell-input__select {
    width: 100%;
    height: 45px;
    margin-top: 19px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    color: #5F5F5F;
    padding-left: 15px;
    font-size: 16px;
    font-weight: bold;
    -webkit-appearance: none;
    appearance: none;
}

.sell-input__condition {
    position: relative;
    margin-bottom: 33px;
}

.sell-input__condition::after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #5F5F5F;
    content: "";
    position: absolute;
    right: 15px;
    top: 50%;
}

.sell-input__group input {
    width: 100%;
    height: 45px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    margin-top: 7px;
}

.sell-input__group textarea {
    width: 100%;
    height: 125px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    margin-top: 7px;
}

.sell-input__price {
    position: relative;
}

.sell-input__price::before {
    content: "ï¿¥";
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.sell-form__error-message {
    height: 36px;
    margin: 0;
    color: #ff0000;
    font-size: 20px;
}

.sell-button {
    width: 100%;
    height: 60px;
    margin-top: 82px;
}

.sell-button button {
    width: 100%;
    height: 100%;
    background: #FF5555;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}