.header-search__inner {
    width: 500px;
    height: 50px;
    margin: 15px auto;
    font-size: 24px;
    padding: 0 30px;
    border-radius: 5px;
}

.header-nav__inner {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 20px 12px 13px 37px;
    text-align: center;
}

.header-nav__item {
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav__form {
    width: 100%;
}

.header-nav__button {
    width: 100%;
    border: none;
    background: none;
    color: #ffffff;
    font-size: 24px;
}

.header-nav__link {
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    font-size: 24px;
}

.header-nav__item--sell {
    width: 100px;
    height: 50px;
    line-height: 50px;
}

.header-nav__link--sell {
    text-decoration: none;
    color: #000000;
    width: 100%;
    height: 100%;
    font-size: 24px;
    border-radius: 4px;
    background: #ffffff;
    display: inline-block;
}

.shipment-box {
    width: 680px;
    margin: 48px auto;
}

.shipment-title {
    width: 100%;
    height: 44px;
    line-height: 44px;
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.shipment-form {
    width: 680px;
    margin: 103px auto;
}

.shipment-form__group {
    width: 100%;
}

.shipment-form__title {
    height: 36px;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.shipment-form__content {
    width: 100%;
    height: 45px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
}

.shipment-form__error-message {
    height: 68px;
    margin: 0;
    color: #ff0000;
    font-size: 20px;
}

.shipment-form__button {
    width: 100%;
    height: 60px;
    margin-top: 111px;
    border: none;
    border-radius: 5px;
    background: #FF5555;
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
}