.shipment-box {
    width: 680px;
    margin: 48px auto;
}

.shipment-title {
    width: 100%;
    height: 44px;
    line-height: 44px;
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.shipment-form {
    width: 680px;
    margin: 103px auto;
}

.shipment-form__group {
    width: 100%;
}

.shipment-form__title {
    height: 36px;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.shipment-form__content {
    width: 100%;
    height: 45px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
}

.shipment-form__error-message {
    height: 68px;
    margin: 0;
    color: #ff0000;
    font-size: 20px;
}

.shipment-form__button {
    width: 100%;
    height: 60px;
    margin-top: 111px;
    border: none;
    border-radius: 5px;
    background: #FF5555;
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}