.verify-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    height: 100vh;
}

.verify-content__inner {
    width: 80%;
    text-align: center;
}

.verify-button {
    width: 257px;
    height: 69px;
    margin: 69px auto 52px;
}

.verify-button p{
    width: 100%;
    height: 69px;
    line-height: 69px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #000000;
    background: #D9D9D9;
}

.verify-resend {
    width: 257px;
    display: inline-block;
}


.verify-resend button {
    width: 100%;
    font-size: 20px;
    color: #0073CC;
    border: none;
    background: none;
}